<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Order</title>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="light-theme">
<header>
    <div class="container">
      <nav class="navbar">
         <div class="btn-group">
          <button class="theme-btn theme-btn-mobile light">
          </button>
          <button class="nav-menu-btn">
            <ion-icon name="menu-outline"></ion-icon>
          </button>

        </div>
        <div class="flex-wrapper">
          <ul class="desktop-nav">
            <li>
              <a href="/" class="nav-link">Home</a>
            </li>
            <li>
              <a th:href="@{/register}" class="nav-link">Register</a>
            </li>
            <li>
              <a th:href="@{/login}" class="nav-link">Login</a>
            </li>
          </ul>
        </div>
        <div class="mobile-nav">
          <button class="nav-close-btn">
            <ion-icon name="close-outline"></ion-icon>
          </button>
          <div class="wrapper">
       
          </div>
          <div>
            <p class="h3 nav-title">Operations</p>
            <ul>
              <li class="nav-item">
                <a href="/users" class="nav-link">List of Users</a>
              </li>
              <li class="nav-item">
                <a href="/orders" class="nav-link">List of Orders</a>
              </li>
              <li class="nav-item">
                <a href="/parks" class="nav-link">List of Parks</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
</header>

	<div class="container">
		<div>
			<h1>Edit Order</h1>
		</div>
<!-- 		
			<form action="#" th:action="@{/save}" th:object="${product}"
			method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr> -->
		
		<form th:action="@{/saveOrder}" th:object="${order}"
			method="post" style="max-width: 800px; margin: 0 auto;">

			<div class="form-group row">
				<label class="col-4 col-form-label"> Order ID: </label>
				<div class="col-8">
					<input type="text" th:field="*{orderId}" class="form-control" required  readonly="readonly" />
				</div>
			</div>


			<div class="m-3">
		
		
				<div class="form-group row">
					<label class="col-4 col-form-label"> Payment: </label>
					<div class="col-8">
						<input type="text" th:field="*{payment}" class="form-control" required />
					</div>
				</div>


				<div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
	
 <!--- #FOOTER-->
  <footer>
    <div class="container">
      <div class="wrapper">
        <a href="#" class="footer-logo">
          <img src="./images/leaf.svg" alt="Leaf Team's Logo" width="120" class="logo-light">
        </a>
        <p class="footer-text">
          Leaf Team is looking for good places around Montreal and share with you all.
        </p>
      </div>
      <div class="wrapper">
        <p class="footer-title">Leaf Team Memebers</p>
        <ul>
          <li>
            <a href="#" class="footer-link">Darby, Kevin</a>
          </li>
          <li>
            <a href="#" class="footer-link">Su, Xiaoming</a>
          </li>
          <li>
            <a href="#" class="footer-link">Wu, Wei</a>
          </li>
        </ul>
      </div>
      <div class="wrapper">
        <p class="footer-title">Leaf Team</p>
        <ul>
          <li>
            <a href="#" class="footer-link">Privacy Notice</a>
          </li>
          <li>
            <a href="#" class="footer-link">Cookie Policy</a>
          </li>
          <li>
            <a href="#" class="footer-link">Terms Of Use</a>
          </li>
        </ul>
      </div>
    </div>

    <p class="copyright">
      &copy; Copyright 2022 <a href="#">Leaf Team</a>
    </p>
  </footer>	
</body>
</html>
